
@model Library_MS.Models.Member

@{
}

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src="@Model.ImagePath" style="width:100%; height:auto;" />
            </div>
            <div class="col-md-9">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Name</th>
                        <td>
                            <lable id="memberFullName">@Model.FullName</lable>
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <th>Member Code</th>
                        <td>@Model.MemberCode</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>@Model.Gender</td>

                    </tr>
                    <tr>
                        <th>phone</th>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>memberShip Date</th>
                        <td>@Model.MembershipDate</td>
                    </tr>

                </table>
                
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Address Details</h5>
                @foreach (var address in Model.Addresses)
                {
                    <label>@address.Country, @address.City, @address.AdditionalInfo</label>
                }
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        @{
                            decimal FineAmount = 0;
                        }
                        @foreach (var item in Model.Issues)
                        {
                            foreach (var fine in item.Fines)
                            {

                                FineAmount += fine.FineAmount;
                            }
                        }
                        @if (FineAmount > 0)
                        {
                            <label class="text-danger">Fine Amount: @FineAmount</label>
                        }
                        else
                        {
                            <label class="text-danger">Fine Amount: 00.00</label>
                        }

                    </div>
                    <div class="col-md-6">
                        @*<button class="btn btn-warning px-3" id="payFineModelBtn" data-toggle="modal" data-target="#finePaymentModel">Pay Fine</button>*@

                        @if (FineAmount > 0)
                        {
                            <button class="btn btn-warning px-3" id="payFineModelBtn" data-toggle="modal" data-target="#finePaymentModel">Pay Fine</button>
                        }
                        else
                        {
                            <button class="btn btn-warning px-3" id="payFineModelBtn" disabled>Pay Fine</button>
                        }
                    </div>
                </div>
            </div>

        </div>
        <hr class="bg-warning" />

        <div class="mt-3">
            <nav>
                <div class="nav nav-tabs col-md-12" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active col-md-4" id="nav-home-tab" data-toggle="tab" href="#holding" role="tab" aria-controls="holding" aria-selected="true">Holding</a>
                    <a class="nav-item nav-link col-md-4" id="nav-profile-tab" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="false">Checkout History</a>
                    <a class="nav-item nav-link col-md-4" id="nav-contact-tab" data-toggle="tab" href="#fine" role="tab" aria-controls="fine" aria-selected="false">Fine Payment History</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="holding" role="tabpanel" aria-labelledby="nav-home-tab">
                   <div>
                       <table class="table table-striped" id="holdingBookDetails">
                           <thead>
                               <tr>
                                   <th>Image</th>
                                   <th>ISBN</th>
                                   <th>Book</th>
                                   <th>Category</th>
                                   <th>Format</th>
                                   <th>Language</th>
                                   <th>Issued</th>
                               </tr>
                           </thead>
                           <tbody>
                               @foreach (var item in Model.Issues.Where(p => p.ReturnStaus == false))
                               {
                                   string imgePath = "\\" + item.Book.ImagePath;
                                   <tr>
                                      
                                       <td>
                                           <img src="@imgePath" style="width:100px; height:auto" />
                                       </td>
                                       <td>
                                           @item.Book.BookTitle
                                       </td>
                                       <td>
                                           @item.Book.ISBN
                                       </td>
                                       <td>
                                           @item.Book.BookCategory.Category
                                       </td>

                                       <td>
                                           @item.Book.Format
                                       </td>
                                       <td>
                                           @item.Book.Language
                                       </td>
                                       <td>
                                           @item.issueDate
                                       </td>
                                   </tr>
                               }
                           </tbody>
                       </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="checkout" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div>
                        <table class="table table-striped" id="checkoutHistoryDetails">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>ISBN</th>
                                    <th>Book</th>
                                    <th>Category</th>
                                    <th>Format</th>
                                    <th>Language</th>
                                    <th>Issued</th>
                                    <th>Returned</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Issues.Where(p => p.ReturnStaus == true))
                                {
                                    string imgePath = "\\" + item.Book.ImagePath;
                                    <tr>

                                        <td>
                                            <img src="@imgePath" style="width:100px; height:auto" />
                                        </td>
                                        <td>
                                            @item.Book.BookTitle
                                        </td>
                                        <td>
                                            @item.Book.ISBN
                                        </td>
                                        <td>
                                            @item.Book.BookCategory.Category
                                        </td>

                                        <td>
                                            @item.Book.Format
                                        </td>
                                        <td>
                                            @item.Book.Language
                                        </td>
                                        <td>@item.issueDate</td>
                                        <td>@item.returnDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="fine" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div>
                        <table class="table-striped">
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Paid Amount</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var fine in Model.FineDetails)
                                {
                                    <tr>
                                        <td>@fine.PayedDate</td>
                                        <td>@fine.PaidAmount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Fine Payment Model Section*@


<!-- Modal -->
<div class="modal fade" id="finePaymentModel" tabindex="-1" role="dialog" aria-labelledby="finePaymentModelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finePaymentModelModalLabel">Fine Payment</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("FinePayment", "Returns"))
            {


            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12" style="display:none;">
                        <label>Member <span class="text-danger">*</span></label>
                        <input class="form-control" value="@Model.MemberID" name="MemberID" id="MemberID" />
                        <label class="text-danger" id="memebrErrMgs" style="display:none;">Plese Select Valid Member.</label>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Date <span class="text-danger">*</span></label>
                        <input class="form-control" name="date" id="date" type="date" />
                        <label class="text-danger" id="dateErrMgs" style="display:none;">Plese provide Valid amount.</label>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Amount <span class="text-danger">*</span></label>
                        <input class="form-control" name="amount" id="amount" type="number" />
                        <label class="text-danger" id="amountErrMgs" style="display:none;">Plese provide Valid amount.</label>
                        <label class="text-danger" id="fineErr" style="display:none;">Paid amount is greater than fine.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" id="payFineBtn" class="btn btn-primary">Add</button>
            </div>
            }
        </div>
    </div>
</div>



@section Scripts{ 


<script>

    $(document).ready(function () {

        $("#amount").keyup(function () {
            var fineAmount = parseFloat(@FineAmount);
            var paidAmount = parseFloat($("#amount").val());
            //console.log(fineAmount, paidAmount);
            if (paidAmount > fineAmount) {
                $("#fineErr").show();
                $("#payFineBtn").prop('disabled', true);
            }
            else {
                $("#fineErr").hide('');
                $("#payFineBtn").prop('disabled', false);
            }

        });


        $("#payFineBtn").click(function () {
            var memberID = $("#MemberID").val();
            var paidDate = $("#date").val();
            var paidAmount = $("#amount").val();

            if (memberID != '' && paidDate != '' && paidAmount != '') {
                $("#memebrErrMgs").hide(''); $("#dateErrMgs").hide(''); $("#amountErrMgs").hide('');

                $("#payFineBtn").prop('type', 'submit');

                @*var fine_data = {
                    MemberID: memberID,
                    PaidDate: paidDate,
                    PaidAmount: paidAmount
                };

                $.ajax({
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Returns/FinePayment",
                    data: JSON.stringify(fine_data),
                    success: function (response) {
                        alert(response);
                    },
                    error: function (error) {
                        alert("Error occured \n" + JSON.stringify(error));
                    }
                });*@

            }
            else {
                $("#payFineBtn").prop('type', 'button');
                if (memberID == '') {
                    $("#memebrErrMgs").show();
                }
                if (paidDate == '') {
                    $("#dateErrMgs").show()
                }
                if (paidAmount == '') {
                    $("#amountErrMgs").show();
                }
            }

        });






    });

</script>


}